@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .messages-list li {
    @apply block text-white rounded p-2 mb-1 w-2/5 clear-both
  }
  .sent-message {
    @apply bg-green-500 float-right
  }
  .received-message {
    @apply bg-purple-500
  }
  .new-message-input-field {
    @apply block border-t-2 border-b-2 w-full mb-2
  }
}